@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./HelveticaNeueCyr-Rom.woff');
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./HelveticaNeueCyr-Med.woff');
    font-weight: 550;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./HelveticaNeueCyr-Bol.woff');
    font-weight: 750;
    font-style: normal;
}