@import url("./assets/fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


.helvetica-700{
    font-family: 'HelveticaNeueCyr';
    font-weight: 700;
}

.helvetica-500{
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
}

.helvetica-400{
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
}

.title{ /*Главный заголовок всей страницы*/
    font-size: clamp(42px, 9vw, 64px);
    line-height: clamp(40px, 9vw, 64px);
}

.title-2{ /*Заголовок для компонента лекций*/
    font-size: clamp(24px, 5vw, 38px);
    line-height: clamp(28px, 5vw, 42px);
}

.title-3{ /*Заголовок для компонента соцсетей*/
    font-size: clamp(24px, 4vw, 27px);
    line-height: clamp(22px, 4vw, 34px);
}

.subtitle{
    font-size: clamp(16px, 4vw, 27px);
    line-height: clamp(22px, 4vw, 33px);
}

.textik{
    font-size: clamp(16px,2.75vw,20px);
    line-height: clamp(22px, 4vw, 27px);
}

.textik-small{
    font-size: clamp(14px,2.5vw,20px);
    line-height: clamp(19px, 4vw, 27px);
}


@media(min-width: 1280px){
    .title{
      font-size: 90px;
      line-height: 90px;
    }
}
